#saper_container {
    display: flex;
    flex-wrap: wrap;
}

.block_saper {
    width: 50px;
    border: 1px solid white;
    height: 50px;
    background: red;
}
.block_saper_check {
    width: 50px;
    border: 1px solid red;
    height: 50px;
    background: white;
}
.block_saper_bomb {
    background-image: url("./image/bomb.jpg");
    width: 50px;
    border: 1px solid red;
    height: 50px;
}
.block_saper_flag{
    background-image:  url("./image/flag.png");
    background-color: red;
    width: 50px;
    border: 1px solid red;
    height: 50px;
}